<div second-header>
  <div second-header-left>
  <a class='btn btn-primary' href='{{page.parent_path}}' role='button'>
    <span class='glyphicon glyphicon-triangle-left' aria-hidden='true'></span> Last Page
  </a>
  </div>
  <div second-header-center>
    <a href="{{page.adventure_root_path}}" style='color:white; text-decoration: underline;'>
      {{page.adventure_title}}
    </a>
  </div>
  <div second-header-right>
    Bookmarks Placeholder
  </div>
</div>

<div body-wrap>
  <div class="" style="padding-bottom:150px; font-size:1.4em">
    {{page.body}} <%# Can find a formatter for this later, probably a gem %>
    <br>
  </div>

  <div style="position:absolute; bottom:0; height:200px; width:calc(100% - 120px); text-align:center">
    <div style="height:50px; text-align:right; color:#666">
      <div ng-if="page.user != null">
        Written by: <a href="{{page.user_path}}">{{page.user_name}}</a>
      </div>
    </div>

    <div style="width:calc(100% + 120px); position:relative; top:50; right:60px; border-top: 3px solid black;">&nbsp</div> <%# bottom section %>
      <div ng-if="page.end == null">
        <div ng-if="page.child1_id != nil">
          <a class='btn btn-primary btn-lg btn-block' href="{{page.child1_path}}" role='button'>
            {{page.choice1}}
          </a>
        </div>
        <div ng-if="page.child1_id == nil">
          <a class='btn btn-danger btn-lg btn-block' href="/adventures/{{page.adventure_id}}/pages/new/1/{{page.id}}" role='button'>
            {{page.choice1}}
          </a>
        </div>
        <br>
        <div ng-if="page.child2_id != nil">
          <a class='btn btn-primary btn-lg btn-block' href="{{page.child2_path}}" role='button'>
            {{page.choice2}}
          </a>
        </div>
        <div ng-if="page.child2_id == nil">
          <a class='btn btn-danger btn-lg btn-block' href="/adventures/{{page.adventure_id}}/pages/new/2/{{page.id}}" role='button'>
            {{page.choice2}}
          </a>
        </div>
      </div> <%# ng-if page.end==null %>

      <div ng-if="page.end != null">
        <div style="font-weight:bold; font-size:1.5em;">{{page.end}}</div>
        <br>
        <div>
          <a class='btn btn-primary btn-lg' href={{page.adventure_root_path}} role='button'>
            <span class='glyphicon glyphicon-repeat' aria-hidden='true'></span> Play again?
          </a>
        </div>
      </div>
  </div> <%# bottom section %>
</div> <%# body-wrap %>