<div class="container body-drop" style="min-height: 100vh">
  <div class="jumbotron" style="border-style:solid; border-color:black; border-width:3px; min-height:calc(100vh - 200px); position:relative">

<span ng-transclude></span>

  </div>
  <div>
    <% 2.times do %>
      <br>
    <% end %>
  </div>
</div>