<div class="container body-drop">
  <div class="jumbotron" style="border-style:solid; border-color:black; border-width:3px; min-height:700px">

<%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %><br>

  </div>
  <div>
    <% 2.times do %>
      <br>
    <% end %>
  </div>
</div>