<div class="container body-drop">
  <div class="jumbotron" style="border-style:solid; border-color:black; border-width:3px; min-height:700px">

<div class="list-group">
  <%= render(Adventure.all) %>
</div>

  </div>
  <div>
    <% 2.times do %>
      <br>
    <% end %>
  </div>
</div>