<div style="font-weight:bold; font-size:1.5em;"><%= page.end %></div>
<br>
<div>
  <a class='btn btn-primary btn-lg' href=<%= @page.adventure.root_path %> role='button'>
    <span class='glyphicon glyphicon-repeat' aria-hidden='true'></span> Play again?
  </a>
</div>