<div body-wrap>
  <div style="text-align:center">
    <a class='btn btn-primary btn-lg' target="_self" id="sign_in" href="/auth/google_oauth2">Sign in with Google</a>
  </div>
</div>

<% 
=begin %>



<div body-wrap>
<%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %><br>
</div>



<% 
=end %>