<%= render 'header', center: "Now with #{Page.word_count} words on #{Page.count} pages." %>

<div class="container body-drop">
  <div class="jumbotron" style="border-style:solid; border-color:black; border-width:3px; min-height:700px">

<div style="white-space:pre-wrap;">Hello, welcome to The Protagonist Collective!

This is a site where people can come to read and participate in the building of "Choose Your Own Adventure" stories.

When the site is actually published, it will have more css polishing and information on the Index and HowItWorks pages, but for now the purpose of this site has been fulfilled: to develop and demonstrate an understanding of the Ruby on Rails framework.

Besides the fact that I don't want to polish the site right now, I am also holding off on publishing the site until I learn javascript, as I believe that that is likely to make the user-experiecne of the site much nicer.
</div>

  </div>
  <div>
    <% 2.times do %>
      <br>
    <% end %>
  </div>
</div>