
body { color: #303030; background: #ebebeb; font: 1em Arial, Verdana, sans-serif; text-align: center; line-height: 1.6em; margin: 2.5em 0; }

.field_with_errors {display: inline;}
.bordered {border-style:solid; border-color:red; border-width:1px}

.body-drop{
  position:relative;
  top:100px;
}

a.current { color: black !important; }

.secondary-header{
  background: black !important;
  top:50px !important;
}