.field_with_errors {display: inline;}
.bordered {border-style:solid; border-color:red; border-width:1px}

.body-drop{
  position:relative;
  top:95px;
}

a.current {
  color: black !important; 
  box-shadow:0px -5px 0px -2px black inset;
}

.secondary-header{
  background: black !important;
  color: white !important;
  top:50px !important;
  line-height: 50px;
  border-style:none !important;
}
.secondary-left {
  min-height: 1px;
  float: left;
  width:25%;
  text-align:left;
}
.secondary-center {
  min-height: 1px;
  float: left;
  width:50%;
  text-align:center;
  font-size: 1.5em !important;
}
.secondary-right {
  min-height: 1px;
  float: left;
  width:25%;
  text-align:right;
}​

<style id="dark-reader-style" type="text/css">@media screen {

/* Leading rule */
html {
  -webkit-filter: invert(100%) hue-rotate(180deg) brightness(110%) contrast(90%) grayscale(20%) sepia(10%) !important;
}

/* Contrary rule */
img, iframe, video, *:not(object):not(body)>embed, object,
*[style*="background:url"]:empty, *[style*="background-image:url"]:empty,
*[style*="background: url"]:empty, *[style*="background-image: url"]:empty {
  -webkit-filter: invert(100%) hue-rotate(180deg) !important;
}

/* Text contrast */
html {
  text-shadow: 0 0 0 !important;
}

/* Full screen */
*:-webkit-full-screen, *:-webkit-full-screen * {
  -webkit-filter: none !important;
}

/* Page background */
html {
  background: rgb(13,13,13) !important;
}

}</style>