<div class="container body-drop">
  <div class="jumbotron" style="border-style:solid; border-color:black; border-width:3px; min-height:calc(100vh - 200px); position:relative">

<section
  ng-controller="spaThingsController">
  <ul>
    <li ng-repeat="thing in things">
      {{thing.name}}
    </li>
  </ul>
</section>

  </div>
  <div>
    <% 2.times do %>
      <br>
    <% end %>
  </div>
</div>