<div second-header>
  <div second-header-left>left</div>
  <div second-header-center>center</div>
  <div second-header-right>right</div>
</div>

<div body-wrap>
  <section ng-controller="spaThingsController">
    <ul>
      <li ng-repeat="thing in things">
        {{thing.name}}
      </li>
    </ul>
  </section>
</div>